---
import { products } from '../../data/products';

// Obtener todos los tipos únicos de productos y ordenarlos alfabéticamente
const categories = Array.from(new Set(products.map(product => product.type))).sort();

const { baseRoute } = Astro.props;
const currentUrl = Astro.url.pathname;

// Determinar si la URL contiene un género específico
const isGenderRoute = currentUrl.includes('/hombre') || currentUrl.includes('/mujer');
const currentGender = currentUrl.includes('/hombre') ? 'hombre' : currentUrl.includes('/mujer') ? 'mujer' : '';

// Función para verificar si un género existe en los productos
const genderExists = (gender: string | undefined) => {
  return products.some(product => product.gender === gender);
};

// Determinar si la URL contiene una categoría específica
const currentCategory = categories.find(category => currentUrl.includes(`/${category}`)) || '';
const isTodosActive = !isGenderRoute && (currentUrl === '/' || currentCategory);
const isCategoryActive = currentCategory && (currentUrl.includes('/categoria/') || isGenderRoute);
---

<div class="flex justify-center space-x-4 mb-8">
  <a href="/" class={`px-4 py-2 rounded font-semibold ${isTodosActive ? 'bg-blue-600 text-white hover:bg-blue-700' : 'bg-gray-200 text-gray-800 hover:bg-blue-100'}`}>Todos</a>

  {['hombre', 'mujer'].map((gender) => {
    const isDisabled = !genderExists(gender);
    return isDisabled ? (
      <button class={`px-4 py-2 rounded font-semibold bg-gray-200 text-gray-800 opacity-50 cursor-not-allowed`} disabled>
        {gender.charAt(0).toUpperCase() + gender.slice(1)}
      </button>
    ) : (
      <a href={`/categoria/${gender}`} class={`px-4 py-2 rounded font-semibold ${currentGender === gender ? 'bg-blue-600 text-white hover:bg-blue-700' : 'bg-gray-200 text-gray-800 hover:bg-blue-100'}`}>
        {gender.charAt(0).toUpperCase() + gender.slice(1)}
      </a>
    );
  })}
</div>

<div class="flex justify-center space-x-4 mb-8">
  {categories.map((category) => {
    const isActive = currentUrl.endsWith(`/${category}`) || (isCategoryActive && currentCategory === category);
    const isDisabled = !products.some(product => product.gender === currentGender && product.type === category) && isGenderRoute;
    const href = isDisabled ? '#' : isGenderRoute ? `/categoria/${currentGender}/${category}` : `/${baseRoute}/${category}`;
    const buttonText = category === 'accesorio' ? 'Accesorios' : (category ?? '').charAt(0).toUpperCase() + (category ?? '').slice(1);
    return isDisabled ? (
      <button class={`px-4 py-2 rounded font-semibold bg-gray-200 text-gray-800 opacity-50 cursor-not-allowed`} disabled>
        {buttonText}
      </button>
    ) : (
      <a href={href} class={`px-4 py-2 rounded font-semibold ${isActive ? 'bg-blue-600 text-white hover:bg-blue-700' : 'bg-gray-200 text-gray-800 hover:bg-blue-100'}`}>
        {buttonText}
      </a>
    );
  })}
</div>