---
import BaseLayout from '../../layouts/BaseLayout.astro';
import { products } from '../../data/products';
// ISLAS

import EmblaIsla from '../../components/Carousel/EmblaIsla.astro';

import ProductDetail from '../../components/ProductDetail';
import WhatsappButton from '../../components/buttons/WhatsappButton.astro';





export async function getStaticPaths() {
  return products.map((product) => ({
    params: { producto: product.slug },
    props: { product },
  }));
}

const { product } = Astro.props;



---


<BaseLayout title={`${product.name}`} description={product.description}>
  <div class="max-w-5xl mx-auto px-0 py-6 lg:mt-10">
    <!-- Contenedor flex responsivo -->
    <div class="flex flex-col lg:flex-row lg:space-x-8">
      <!-- Sección del carrusel de imágenes -->
      <div class="lg:w-1/2">

        <EmblaIsla
          slug={product.slug}
          images={product.images}
          name={product.name}
          showArrows={true}
        />

      </div>
      <!-- Sección de información del producto -->

      <div class="lg:w-1/2 mt-6 lg:mt-0 px-8">
        <ProductDetail product={product} client:load />
        <WhatsappButton widthClass="w-64" title="Contactar por WhatsApp" name={product.name}/>

        <div class="flex justify-center items-start">
          <a
            href={`${product.link}`}
            target="_blank"
            rel="noopener noreferrer"
            class="block w-64 text-center bg-black text-white py-2 mt-3 rounded-lg active:bg-gray-800 transition-colors"
          >
            Ir a Gymshark
          </a>
        </div>

        <a href="javascript:!document.referrer.includes(location.hostname)?location='/' : history.back()"
          class="block text-blue-500 hover:underline mt-4 text-center">
          ← Volver al Catálogo
        </a>
      </div>

    </div>
  </div>

  <style>
    summary::-webkit-details-marker {
      display: none;
    }
  </style>
</BaseLayout>