---
import BaseLayout from '../../layouts/BaseLayout.astro';
import { products } from '../../data/products';
// ISLAS

import EmblaIsla from '../../components/Carousel/EmblaIsla.astro';

import ProductDetail from '../../components/ProductDetail';
import WhatsappButton from '../../components/buttons/WhatsappButton.astro';
// import AddButton from '../../components/buttons/AddButton.astro';





export async function getStaticPaths() {
  return products.map((product) => ({
    params: { producto: product.slug },
    props: { product },
  }));
}

const { product } = Astro.props;


const image = product.ogimage
---


<BaseLayout title={`${product.name}`} description={product.shortDescription} ogimage={image}>


  <div class="max-w-5xl mx-auto px-0 py-6 lg:mt-10">

    <!-- Contenedor flex responsivo -->
    <div class="flex flex-col lg:flex-row lg:space-x-8">

      <!-- Sección del carrusel de imágenes -->
      <div class="lg:w-1/2">

        <EmblaIsla
          slug={product.slug}
          images={product.images}
          name={product.name}
          showArrows={true}
        />

      </div>
      <!-- Sección de información del producto -->

      <div class="lg:w-1/2 mt-6 lg:mt-0 px-8">
        <ProductDetail product={product} client:load />




        <a href="javascript:!document.referrer.includes(location.hostname)?location='/' : history.back()"
        rel="noopener noreferrer" class="block text-blue-500 hover:underline mt-4 text-center">
          ← Regresar al Catalogo
        </a>

      </div>

    </div>
  </div>


</BaseLayout>