---


interface Props {
  name: string;
  slug: string;
  images: string[]; // Cambiado de 'image' a 'images'
  price?: number;

  gender?: 'male' | 'female' | 'unisex';
}

const { name, slug, images, price = 0, gender } = Astro.props as Props;
const image = images[0]
---




<div class="flex flex-col border rounded-lg overflow-hidden shadow-md hover:shadow-lg transition-shadow duration-300 h-full" id={slug}>
  <!-- Imagen del producto -->
  <a href={`/producto/${slug}`} class="flex-1">
    <picture>
      <img
        width="400"
        height="400"
        src={image}
        alt={name}
        class="w-full h-full object-cover opacity-0 scale-105 transition-all duration-300"
        onload="this.classList.add('opacity-100'); this.classList.remove('scale-105') "
      />
    </picture>
  </a>

  <!-- Información del producto -->
  <div class="p-4 flex flex-col flex-1">
    <h3 class="text-lg font-medium text-center mb-2">{name}</h3>
    <p class="text-base text-gray-700 text-center mb-4">${price.toLocaleString('es-ES')}</p>

    <!-- Botón -->
    <div class="mt-auto flex justify-center">
      <a href={`/producto/${slug}`}>
        <button class="w-64 bg-black text-white py-2 rounded-lg hover:bg-gray-800 transition-colors duration-200">
          Ver Detalles
        </button>
      </a>
    </div>
  </div>
</div>
