---


interface Props {
  name: string;
  slug: string;
  images: string[]; // Cambiado de 'image' a 'images'
  price: number;
}

const { name, slug, images, price } = Astro.props as Props;
const image = images[0];
---

<div class="flex flex-col border rounded-lg overflow-hidden shadow hover:shadow-lg transition h-full" id={slug}>
  <a href={`/producto/${slug}`} class="flex flex-col flex-1" data-astro-prefetch>
    <!-- Ocultar flechas en el catálogo -->
    <!-- <EmblaCarousel  images={images} name={name} showArrows={true} /> -->

    <img src={image} alt={name} class="w-full h-full object-cover" />


  </a>
    <div class="p-4 flex flex-col flex-1">
      <h3 class="text-xl font-semibold mb-2 text-center">{name}</h3>
      <p class="text-lg text-gray-700 mb-4 text-center">${price.toLocaleString('es-ES')}</p>
      <div class="mt-auto flex justify-center">
        <a href={`/producto/${slug}`}>

        <button  class="w-64 bg-black text-white py-2 rounded-lg hover:bg-gray-800">
         Ver Detalles
        </button>
      </a>
      </div>
    </div>

</div>
