---
import ProductCard from './ProductCard.astro';

interface Props {
  products: import('../data/products').Product[];
}

const { products = [] } = Astro.props;
---

<div class="grid gap-6 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3"
>
  {products.map((product, index) => (
    <div
      class="opacity-0 animate-fadeIn h-full"
      style={`animation-delay: ${index * 250}ms`}
    >
      <ProductCard
        name={product.name}
        slug={product.slug}
        images={product.images}
        price={product.price}
        type={product.type || ''}
        discount={product.discount || false}
        sizes={product.sizes || ['S', 'M', 'L']}
        color={product.color}
      />
    </div>
  ))}
</div>

<style>
  .grid {
    display: grid;
    gap: 1.5rem;
    line-height: 0; /* Elimina espacio extra */
  }

  .animate-fadeIn {
    display: flex; /* Asegura altura completa */
  }
</style>