---
import { ViewTransitions } from 'astro:transitions';
import Navbar from '../components/Navbar';
import '../styles/global.css'; // CSS global
import { siteInfo } from '../constantes/site-info';
import  SpeedInsights  from "@vercel/speed-insights/astro"
// Definimos la interfaz de las props del layout
interface Props {
  title?: string;
  description?: string;
  lang?: string;
  ogimage?: string;
  keywords?: string
}

// Extraemos las props y establecemos valores por defecto
const { title = siteInfo.title, description = siteInfo.shortDescription, lang = 'es', keywords = siteInfo.keywords, ogimage = siteInfo.image } = Astro.props as Props;
---

<html lang={lang}>
  <head>
    <ViewTransitions />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content="AstroJS">
    <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
    <!-- SEO Dinámico -->
    <meta name="description" content={description} />
    <meta name="keywords" content={keywords} />
    <meta name="author" content="Ramón Hernández" />

    <!-- Open Graph -->
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={ogimage} />
    <meta property="og:type" content="website" />
    <meta property="og:url" content={Astro.url.href} />
    <title>{title}</title>

  </head>
  <body class="font-sans bg-gray-100 flex flex-col min-h-screen">


    <!-- Cabecera del sitio -->
    <header class="bg-white shadow">

      <div class="container mx-auto px-4 py-4">
        <Navbar client:idle />
      </div>
    </header>

    <!-- Estilo para evitar movimientos de scroll -->
    <style>html {overflow-y: scroll;}</style>

    <!-- Contenido de la página -->
    <main class="container mx-auto px-2 sm:px-4 py-6 flex-1">
      <slot />

    </main>

    <!-- Pie de página -->
    <footer class="bg-white shadow mt-8">
      <div class="container mx-auto px-4 py-4 text-center">
        <p>&copy; 2024 Shark Import.</p>
      </div>
    </footer>


    <SpeedInsights />
  </body>
</html>
